.App {
  position: relative;
  z-index: 1;
}
.App::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 105%;
  opacity: 0.6;
  z-index: -1;
  background-image: url("./img/map.jpg");
}